@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

body {
  background-size: cover;
  padding: 0 5%;
}

.title{
  padding: 15px 0;
  margin: 0 auto;
  background: #1c1003;
}

.title h1 {
  border-bottom: 2px dashed rgb(255, 255, 255);
  border-top: 2px dashed rgb(255, 255, 255);
  padding: 10px 0;
  text-align: center;
  color: #FFF;
  font-size: 20px;
}


.about {
  margin: 10px 0;
}

.about p {
  text-align: center;
  font-size: 15px;
  line-height: 20px;
  font-weight: bold;
}

a {
  margin: 0 auto;
  text-decoration: none;
  display: block;
  width: 250px;
  padding: 7px 40px;
  text-align: left;
  color: white;
  border-radius: 20px;
  font-size: 10px;
  font-weight: bold;
}


#icon1::before{
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 8px;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 10%;
  left: 5%;
  margin-top: -6px;
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.3));
}

#icon2::before{
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 8px;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 26%;
  left: 5%;
  margin-top: -6px;
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.3));
}

#icon3::before{
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 8px;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 41%;
  left: 5%;
  margin-top: -6px;
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.3));
}

#icon4::before{
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 8px;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 57%;
  left: 5%;
  margin-top: -6px;
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.3));
}

#icon5::before{
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 8px;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 72%;
  left: 5%;
  margin-top: -6px;
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.3));
}

#icon6::before{
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 8px;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 91%;
  left: 5%;
  margin-top: -6px;
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.3));
}

.contents {
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.btn_1:active {
  box-shadow: none;
  position: relative;
  top: 2px;
}

.btn_2:active {
  box-shadow: none;
  position: relative;
  top: 2px;
}

.btn_1 {
  background: #F8C04E;
  box-shadow: 0 3px #CD751A;
  margin-top: 10px;
  margin-bottom: 10px;

}

.btn_2 {
  background: #EF8A69;
  box-shadow: 0 3px #C55F46;
}

img {
  width: 100%;
  max-width: 800px;
  vertical-align: bottom;
}

.button {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}



@media(max-width:877px) {
  .about p {
    font-size: 10px;
  }

  a {
      font-size: 10px;
      transform:scale(0.7);
  }
  .btn_1{
    margin: 0;
  }
  
  .button{
    height: 200px;
    overflow-y: auto;
    
  }

  #icon1::before{
    top: 52%;
  }

  #icon2::before{
    top: 52%;
  }

  #icon3::before{
    top: 52%;
  }

  #icon4::before{
    top: 52%;
  }

  #icon5::before{
    top: 52%;
  }

  #icon6::before{
    top: 52%;
  }

  @media(max-width:425px) {
    
    a {
      font-size: 10px;
      transform:scale(0.5);
    }
    
  .button{
    height: 100px;
    overflow-y: auto;
   }
  }

}